
@font-face {
	font-family: 'tommy';
	src: url('/fonts/police.otf') format('opentype')
}

/*  pour la page de connexion  */
.title1 {
    color: rgb(255, 255, 255);
    font-family: 'tommy', sans-serif;
    font-size: 40px;
    margin-top: 10px;
    text-align: center;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}
  
header {
    background-image: url("/img/fond.PNG");
    background-size: cover;
    height: 75;
    background-size: cover;
    color: #fff;
    justify-content: space-between;
    padding: 15px 20px;
}
  
.burger-checkbox {
    display: none;
  }
  
.burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    right: 10px;
    position: fixed;
    top: 10px;
  }
  
.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.4s;

  }
  

  
.menu {
    display: none;
    background-color: rgb(103, 156, 113);
    padding: 20px;
    position: absolute;
    top: 60px;
    right: 10px;
  }
  
.menu ul {
    list-style: none;
    padding: 0;
  }
  
.menu ul li {
    margin-bottom: 10px;
  }
  
.menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .menu ul li a:hover {
    color: #ffcc00;
  }
  
  /* Affichage du menu au clic */
.burger-checkbox:checked ~ .menu {
    display: block;
  }
  
.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 30%;
}

footer{
  position:absolute;
  background-color: rgb(128, 186, 140);
  background-size: cover;
  width:100%;
  text-align: center;
}

footer ul {
  list-style-type: none; 
  text-align: center;
  position: relative ;
  margin-left: -50px;
}

footer li {
  display: inline-block;
  margin-left: 10px;
}

