#rescandidatures{
    width: 900px; 
    height: auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 450px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255); 
    filter: drop-shadow(0 0 0.30rem rgb(75, 75, 75));
    display: inline-block ;
    border-style: none;
    margin-top: 20px;

}

#titrepubli{
    color:rgb(103, 156, 113);
    font-size: 25px;
}

#titrerech{
    color: rgb(103, 156, 113);
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
}

.demande {
    margin-top: 20px;
}

#voir {
    color: blue;
}