
.commentaire {
    border-color: black;
    border-style: ridge;
    border-width: 1px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 450px;
    width: 1000px;

}


.buttonc {
 padding: 10px 40px;
 font-size: 9px;
 background-color: blue;
 color: #fff;
 text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
 display: inline-flex;
 align-items: center;
 justify-content: center;
 position: relative;
 border: 0;
 z-index: 1;
 user-select: none;
 cursor: pointer;
 text-transform: uppercase;
 letter-spacing: 1px;
 white-space: unset;
 padding: .8rem 1.5rem;
 text-decoration: none;
 font-weight: 900;
 transition: all 0.7s cubic-bezier(0,.8,.26,.99);
}

.buttonc:before {
 position: absolute;
 pointer-events: none;
 top: 0;
 left: 0;
 display: block;
 width: 100%;
 height: 100%;
 content: '';
 transition: .7s cubic-bezier(0,.8,.26,.99);
 z-index: -1;
 background-color: rgb(103, 156, 113)!important;
 /* box-shadow: 0 -4px rgb(21 108 0 / 50%) inset, 0 4px rgb(100 253 31 / 99%) inset, -4px 0 rgb(100 253 31 / 50%) inset, 4px 0 rgb(21 108 0 / 50%) inset; */
}

.buttonc:after {
 position: absolute;
 pointer-events: none;
 top: 0;
 left: 0;
 display: block;
 width: 100%;
 height: 100%;
 content: '';
 box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
 transition: .7s cubic-bezier(0,.8,.26,.99);

}

.buttonc:hover:before {
    box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(255 255 255 / 20%) inset, -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 50%) inset;
   }
   
   .buttonc:hover:after {
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
   }
   
   .buttonc:active {
    transform: translateY(4px);
   }
   
   .buttonc:active:after {
    box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%);
   }

form {
    margin-bottom: -4px;
}